.App {
  background-color: aquamarine;
  padding: 70px;
  margin: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  flex-direction: column;
}

.App > div {
  background-color: aquamarine;
  padding: 40px 20px;
  margin: 100px;
  border-radius: 70px;
  width: 200px;
  height: 200px;
  text-align: center;
}

button {
  background-color: aquamarine;
  border: 50px;
  margin-top: 200px;
  text-align: center;
}
